<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweet.api.mapper.OrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sweet.api.entity.OrderDetail">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="product_total_num" property="productTotalNum" />
        <result column="product_total_amt" property="productTotalAmt" />
        <result column="product_promotion_total_amt" property="productPromotionTotalAmt" />
        <result column="commodity_no" property="commodityNo" />
        <result column="sale_price" property="salePrice" />
        <result column="mark_price" property="markPrice" />
        <result column="commodity_name" property="commodityName" />
        <result column="commodity_pic" property="commodityPic" />
        <result column="brand_name" property="brandName" />
        <result column="prop_no" property="propNo" />
        <result column="prop_name" property="propName" />
        <result column="item_no" property="itemNo" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, product_total_num, product_total_amt, product_promotion_total_amt, commodity_no, sale_price, mark_price, commodity_name, commodity_pic, brand_name, prop_no, prop_name, item_no, create_time, update_time, delete_flag
    </sql>

</mapper>
