<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sweet.api.mapper.UserAddressMapper" >
  <resultMap id="BaseResultMap" type="com.sweet.api.entity.bean.UserAddress" >
    <id column="id" property="id"  />
    <result column="user_id" property="userId"  />
    <result column="name" property="name"  />
    <result column="phone" property="phone"  />
    <result column="province_name" property="provinceName"  />
    <result column="province" property="province"  />
    <result column="city_name" property="cityName"  />
    <result column="city" property="city"  />
    <result column="district_name" property="districtName"  />
    <result column="district" property="district"  />
    <result column="address" property="address"  />
    <result column="default_address" property="defaultAddress"  />
    <result column="zip_code" property="zipCode"  />
    <result column="deleted" property="deleted"  />
    <result column="create_time" property="createTime"  />
    <result column="update_time" property="updateTime"  />
  </resultMap>
  <sql id="Base_Column_List" >
    id , user_id ,name , phone ,province_name, province ,city_name, city ,district_name, district ,
    address, default_address ,zip_code, deleted , create_time , update_time
  </sql>
  <select id="selectUserAddressList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tbl_user_address
    where deleted = 0 and user_id = #{userId}
    order by default_address desc,update_time desc
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_user_address
    where deleted = 0 and id = #{id}
  </select>
  <select id="selectDefaultAddress" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_user_address
    where deleted = 0 and default_address = 1 and user_id = #{userId}
    limit 1
  </select>
  <select id="selectLatestAddress" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_user_address
    where deleted = 0 and default_address = 0 and user_id = #{userId}
    order by update_time desc limit 1
  </select>
  <update id="updateAddressByIdAndUserId">
    update tbl_user_address set deleted=1
    where id = #{id} and user_id = #{userId}
  </update>
  <insert id="insert" parameterType="com.sweet.api.entity.bean.UserAddress" >
    insert into tbl_user_address(id, user_id, name, phone, province_name, province ,city_name, city ,district_name, district, address, default_address, zip_code,
      deleted, create_time, update_time)
    values (#{id}, #{userId}, #{name}, #{phone},#{provinceName}, #{province},#{cityName}, #{city},#{districtName},#{district}, #{address}, #{defaultAddress}, #{zipCode},
      0, now(), now())
  </insert>
  <update id="updateById" parameterType="com.sweet.api.entity.bean.UserAddress" >
    update tbl_user_address
    <set >
      <if test="userId != null and userId != ''" >
        user_id = #{userId},
      </if>
      <if test="name != null and name != ''" >
        name = #{name},
      </if>
      <if test="phone != null and phone != ''" >
        phone = #{phone},
      </if>
      <if test="provinceName != null and provinceName != ''" >
        province_name = #{provinceName},
      </if>
      <if test="province != null and province != ''" >
        province = #{province},
      </if>
      <if test="cityName != null and cityName != ''" >
        city_name = #{cityName},
      </if>
      <if test="city != null and city != ''" >
        city = #{city},
      </if>
      <if test="districtName != null and districtName != ''" >
        district_name = #{districtName},
      </if>
      <if test="district != null and district != ''" >
        district = #{district},
      </if>
      <if test="address != null and address != ''" >
        address = #{address},
      </if>
      <if test="defaultAddress != null" >
        default_address = #{defaultAddress},
      </if>
      <if test="zipCode != null and zipCode != ''" >
        zip_code = #{zipCode},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted},
      </if>
      update_time = now()
    </set>
    where id = #{id}
  </update>

  <update id="updateDefaultAddressByUserId">
    update tbl_user_address set default_address=#{defaultAddress}
    where user_id = #{userId}
  </update>
</mapper>