<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweet.api.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sweet.api.entity.UserInfo">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="open_id" property="openId" />
        <result column="union_id" property="unionId" />
        <result column="phone" property="phone" />
        <result column="bind_status" property="bindStatus" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, avatar_url, open_id, union_id, phone, bind_status, deleted, create_time, update_time
    </sql>

    <select id="selectOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_user_info
        where deleted = 0 and open_id = #{openId}
        <if test="unionId != null and unionId != '' ">
            and union_id = #{unionId}
        </if>
    </select>

</mapper>
